body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    margin: 0;
}

header{
    display: flex;
    padding: 5px;
    color: #efefef;
    background-color: #2d2d2d;
    border-bottom: solid 1px #000;
}

header .header-title{
    display: inline-block;
}

header .header-menu{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #777;
    font-size: smaller;
}

main{
    flex:1;
}

main #display-content {
    padding: 20px;
}