body{
    font-family: sans-serif;
    margin: auto 30px;
    color: red;
}

h1{
    color:#0f3;
}

html{
    background-color: gray;
}

ul{
    /* Border solid 1px #555*/ 
    margin: 0;
    color: black;
}

li{
    padding: 5px;
}

#todo-list-container{
    margin-top: 20px;
}

#completed-list{
    list-style-type: none;
}

#completed-list li{
    text-decoration: line-through;
}